
<div class="course-container">
    <div class="course-card" *ngFor="let course of courses">
      <img [src]="course.image" alt="Course Image" class="course-image">
      <div class="course-info">
        <h3 class="course-name">{{ course.name }}</h3>
        <p class="course-mentor">Mentor: {{ course.mentor }}</p>
        <p class="course-duration">Duration: {{ course.duration }}</p>
        <p class="course-rating">Rating: {{ course.rating }} / 5</p>
        <p class="course-dates">Start: {{ course.startDate }} - End: {{ course.endDate }}</p>
      </div>
    </div>
  </div>
  